<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
    <script src="../static/js/script.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Registro de empleado</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">El correo de Yuri</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Personal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Inicia sesion</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <form>
              <fieldset>
                <legend>Agregar empleado</legend>
                <div class="form-group">
                  <input type="text" class="form-control" id="t-rut" name="t-rut" placeholder="Rut">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="t-nombres" name="t-nombres" placeholder="Nombre">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="t-apellidos" name="t-apellidos" placeholder="Apellido">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="t-sexo" name="t-sexo" placeholder="Sexo">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="t-direccion" name="t-direccion" placeholder="Dirección">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="t-cargo" name="t-cargo" placeholder="Cargo">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="t-area" name="t-area" placeholder="Area">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="t-depto" name="t-depto" placeholder="Departamento">
                </div>
                <div class="form-group">
                  <input type="number" class="form-control" id="t-telefono" name="t-telefono" placeholder="Telefono">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" id="t-correo" name="t-correo" placeholder="Correo">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="t-fechaingreso" name="t-fechaingreso" placeholder="Fecha de ingreso">
                </div>
                
                </div>
                <button type="button" class="btn btn-primary" onclick="addTrab()">Agregar</button>
              </fieldset>
            </form>
          </div>
          <div class="col-md-6">
            <form>
              <fieldset>
                <legend>Buscar por Rut</legend>
                <div class="form-group">
                  <input type="text" class="form-control" id="b-rut" name="b-rut" placeholder="Buscar">
                </div>
                <button type="button" class="btn btn-primary" onclick="findTrab()">Buscar</button>
              </fieldset>
            </form>
            <div>
              <span id="r-id"></span><br>
              <span id="r-rut"></span><br>
              <span id="r-nombres"></span><br>
              <span id="r-cargo"></span><br>
              <span id="r-departamento"></span><br>
              <span id="r-area"></span><br>
            </div>
          </div>
        </div>
      </div>
</body>

</html>